<div class="wrap_footer">
    <div id="footer">
        <div class="column">
            <h3>Informacion</h3>
            <ul>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Mision</a></li>
                <li><a href="#">Vision</a></li>
                <li><a href="#">Terminos &amp; Condiciones</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Servicio al Cliente</h3>
            <ul>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Regresar</a></li>
                <li><a href="#">Mapa del Sitio</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Extras</h3>
            <ul>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Gift Vouchers</a></li>
                <li><a href="#">Afiliate</a></li>
                <li><a href="#">Speciales</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Mi Cuenta</h3>
            <ul>
                <li><a href="#">Mi Cuenta</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
                <li><a href="#">Novedades</a></li>
            </ul>
        </div>
    </div>
    
    <div id="powered">Powered By <a href="http://www.opencart.com">OpenCart</a><br /> Your Store &copy; 2014 - <a href="http://www.zerocarts.com/62/free-opencart-themes.html" target="_blank">Free Opencart Themes</a> by <a href="http://www.zerocarts.com" target="_blank">Zerocarts</a> + <a href="http://www.zerotheme.com" target="_blank">Zerotheme</a></div>
    
</div>