<button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">0 item(s) - $0.00</span>
</button>
<ul class="dropdown-menu pull-right">
  <li>
    <p class="text-center">Tu carrito esta vacio!</p>
  </li>
</ul>