<div id="column-right">
    <div class="box">
        <div class="box-heading"><?php echo $titulo ?></div>
        <div class="box-content">
            <div class="box-info">
                <ul>
                    <li><a href=""></a>
                </ul>
            </div>
        </div>
    </div>
</div>