<nav id="top">
  <div class="container">
    <div id="welcome">
       <font color = "white">Bienvenido visitante puedes <a href="{{base_url}}/login">entrar</a> o <a href="{{base_url}}/register-user">crear una cuenta</a>.</font>   
      </div>  
  </div>
</nav>