<nav id="top">
  <div class="container">
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li>
          <a href="{{base_url}}/index" title="Home"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">Home</span></a>
        </li>
        <li>
          <a href="{{base_url}}/register-owner" title="Propietario"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">Propietario</span></a>
        </li>
        <li>
          <a href="{{base_url}}/register-store" title="Propietario"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">Tienda</span></a>
        </li>
        <li>
          <a href="#" title="Categoria"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">Categoria</span></a>
        </li>
        <li>
        <a href="{{base_url}}/logout" title="Checkout"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">Salir</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>