<nav id="top">
  <div class="container">
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li>
          <a href="#><i class="fa fa-phone"></i></a><span class="hidden-xs hidden-sm hidden-md">Home</span>
        </li>
        <li>
          <a href="#" id="wishlist-total" title="Wish List (0)"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">Administrador</span></a>
        </li>
        <li>
          <a href="#" title="Shopping Cart"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Carrito</span></a>
        </li>
        <li>
          <a href="#" title="Shopping Cart"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Categoria</span></a>
        </li>
        <li>
        <a href="#" title="Checkout"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">Salir</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>