<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">
          <a href="{{base_url}}/index"><img src="{{base_dir}}/image/data/zMaxcart.png" title="Your Store" alt="Your Store" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-5">
        <div id="search" class="input-group">
          <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>