<div class="wrap-content">
  <div class="container">
    <div class="row">
      
      {%block columnleft%}
        {{ include('AcmeBundleStareStoreBundle:column_left:column.left.index.html.twig') }}
      {%endblock%}

      <div id="content" class="col-sm-9">
      {%block slider%}
        {{ include('AcmeBundleStareStoreBundle:body:slider.index.html.twig') }}
      {%endblock%}
      </div>
      

      <!--<h3>Visitanos</h3>-->
    
    </div>
  </div>
</div>